# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# compiled output
dist
build
tmp
out-tsc
*.tsbuildinfo
.expo
.expo-shared
.vite
.turbo

# dependencies
node_modules

# environment and secrets
.env
.env.*
!.env.example
!.env.sample

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
*.log
npm-debug.log
pnpm-debug.log*
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.cursor/rules/nx-rules.mdc
.github/instructions/nx.instructions.md

# local cache
.cache/
.local/
